@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0; 
}

/*---------------------------------- Heading */
body {
  font-family: Robotto;
  color: coral;
}

/*.navigation-menu li a {
    font-family: DynaPuff;
    color:green;
    letter-spacing: 2px;
    text-decoration: none;
} */

#title {
    text-transform: uppercase;
    color: coral;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: DynaPuff;
}

#title {
   
    float: left;
    font-size: 280%;
}

#menu {
  
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
    font-family: DynaPuff;
    letter-spacing: 2px;

   
}

#title, #menu{
    line-height: 55px;
}

#menu li {
    float: right;
    margin-right: 30px; 
}

#menu a {
  text-decoration: none;
  color: coral; 
}

#menu a:hover{
   color: brown;
}

/*---------------------------------- section */

#photo {
    clear:both;
    background: url("../images/dog.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    

    animation-name: photo-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

} 
  #text, #text h2 {
    color: white;
    font-size: 20px; 
  }

  #text {
    font-size: 130%;
    font-family: Robotto;
    letter-spacing: 4px;

    width: 200px;
    height: 200px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(227, 148, 146, 0.6);

    bottom: 60px;
    left: 50px;

    position: absolute;

}
    
#photo-movement {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position:relative;
}

@keyframes photo-zoom {
    from{
transform: scale(1);
    }
    to{
transform: scale(1.1)
    }
}

/*---------------------------------- footer */

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
} 

 /*footer {
    position: absolute;
    bottom: 0;
    background-color: blue;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
} */

.social{
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 150%;
    margin: 0;
    padding: 1%;
    color: coral;
}

.social :hover {
    color: brown;
}

/*---------------------------------- Testmonials*/

#testmonials {
    clear: both;
    color: black;
    font-family: Roboto;
    background-color:  rgba(227, 148, 146, 0.6); 
    
    
}

h3 {
    font-family: Dynapuff;
    color: coral;
    text-align: center;
    margin-left: -100px;
    
}

p {
    width: 180%;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}

#kita {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;

} 

#lucio {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;
    
} 

#dog-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;
}

#pomie {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;
}

/*img, p {
    display: inline-block;
} */


.container {
    display: flex;
    align-items: center;
} /* isso deixa o texto ao lado do paragrafo */


#left-testmonial {
    width: 48%;
    padding-top: 20px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}


#right-testmonial {
    width: 48%;
    padding-top: 20px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    float: top right;
}



.left-side {
    padding-top: 5px;
    width: 50%;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    float: left;
}

.right-side{
    padding-top: 10px;
    width: 50%;
    line-height: 30px;
    clear: both;
   margin-bottom: 20px;
    float:right;
}


/*---------------------------------- Contact us*/

.contactus {
    
    font-size: 15px;
    margin-top: 240px;
    color: black;
    max-width: 400px;
    position: absolute;
    left: 30%;
    padding: 30px;
}
 
.contactus::selection {
 border-color: blueviolet;
}

.input {
    
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
}


#howcanwehelpyou {
    height: 100px;
}

.button {
    margin-top: 10px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: white;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    margin-left: 150px;
}

.button:hover {
    color: brown;
}

#background-img {
    clear:both;
    background: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

/*---------------------------------- /tablet

@media screen and (max-width: 1393px ) {
   #photo {
    width: 100%;
    height: 1200px;
   /* margin: 0 auto; 
   } 

   #testmonials {
    padding: 30px 0;
    margin-top: 0;
   }

   #left-testmonial, #right-testmonial {
    width: 100%;
    float: left;
    padding: 0;
   }
} */

@media screen and (min-width: 1393px ) {
    #photo {
     width: 100%;
     height: 1000px;
    

    } 
 
    #testmonials {
     padding: 30px;
     margin-top: 0;
    }
 
    #left-testmonial {
        float: left;
        width: 45%;
        padding: 0;
        float: left;
    }
    
    #right-testmonial {
     width: 45%;
     padding: 0;
     float: top right;
    }

    /*.left-side {
    padding-top: 5px;
    width: 50%;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    float: left;
    }

    .right-side{
        padding-top: 10px;
        width: 50%;
        line-height: 30px;
        clear: both;
       margin-bottom: 20px;
        float: top right;
    } */

    h3 {
        text-align: center;
        margin-left: -210px;
    }

    p {
        width: 200%;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
 }