@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family:300=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0; 
}

/*---------------------------------- Heading */
body {
  font-family: Robotto;
  color: #777777;
}

/*.navigation-menu li a {
    font-family: DynaPuff;
    color:green;
    letter-spacing: 2px;
    text-decoration: none;
} */

h2 {
    text-transform: uppercase;
    color: coral;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: DynaPuff;
}

#title {
   
    float: left;
    font-size: 280%;
}

#menu {
  
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
    font-family: DynaPuff;
    letter-spacing: 2px;

   
}

#title, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px; 
}

#menu a {
  text-decoration: none;
  color: coral; 
}

#menu a:hover{
   color:#777777;
}

/*---------------------------------- section */

#photo {
    background: rgba(0, 0, 0, 0.4) url("../images/dog.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    overflow: hidden;
    /*background-blend-mode: darken; */

    animation-name: photo-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
   
}

#photo-movement {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

@keyframes photo-zoom {
    from{
transform: scale(1);
    }
    to{
transform: scale(1.1)
    }
}

/*---------------------------------- footer*/

footer {
    height: 150px;
}

.social{
    text-align: center;
    font-size: 160%;
    margin: 3%;
    padding: 5%;
    color:
}

.social :hover {
    color: coral;
}

