@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0; 
}
/*----------------------------------  
               Heading 
---------------------------------- */
body {
  font-family: Robotto, sans-serif;
  color: #ff7f50;
}

#title {
    text-transform: uppercase;
    color: #ff7f50;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: DynaPuff, sans-serif;
    float: left;
    font-size: 280%;
}

#menu {
  
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
    font-family: DynaPuff, sans-serif;
}

#title, #menu{
    line-height: 55px;
}

#menu li {
    float: right;
    margin-right: 30px; 
}

#menu a {
  text-decoration: none;
  color: #ff7f50; 
}

#menu a:hover{
   color: brown;
}
/*----------------------------------  
               section 
---------------------------------- */
#photo {
    clear:both;
    background: url("../images/heroImage.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    
    animation-name: photo-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
} 

  #text, #text h2 {
    color: white;
    font-size: 18px; 
  }

  #text {
    font-size: 130%;
    font-family: DynaPuff, sans-serif;
    letter-spacing: 4px;
    width: 200px;
    height: 210px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(227, 148, 146, 0.6);
    text-align: justify;
    bottom: 60px;
    left: 50px;
    position: absolute;
}
    
#photo-movement {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position:relative;
}

@keyframes photo-zoom {
    from{
transform: scale(1);
    }
    to{
transform: scale(1.1)
    }
}

 #homeParagraph {
    font-size: 18px;
    background-color: white; 
    color: coral;
    letter-spacing: 2px;
    width: 97%;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
 }

 h1{
    padding-left: 42%;
    padding-top: 15px;
    padding-bottom: 10px;
 }
 /*----------------------------------  
               footer 
---------------------------------- */
footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    margin-bottom: -5px; /* -5px introduzi uma margem negativa pq os icones sociais estavam sob a foto*/
    text-align: center;
} 

.social{
    text-align: center;
    
}

.social li {
    display: inline;
}

.social i {
    font-size: 150%;
    margin: 0;
    padding: 1%;
    color:  #ff7f50;;
}

.social :hover {
    color: brown;
}
/*----------------------------------  
               Testimonials 
---------------------------------- */
#testmonials {
    clear: both;
    color: black;
    font-family: Roboto;
    background-color: rgba(244, 166, 116, 0.62);
    
}

h3 {
    font-family: Dynapuff;
    color: #ff7f50;
    text-align: center;
    margin-left: -100px; 
}

p {
    width: 180%;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

#kita {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;
    margin-right: 10px;
} 

#lucio {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;
    margin-right: 10px;
} 

#dog-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;
    margin-right: 10px;
}

#pomie {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;
    margin-right: 10px;
}

/*img, p {
    display: inline-block;
} */
.container {
    display: flex;
    align-items: center;
} /* isso deixa o texto ao lado do paragrafo */

#left-testmonial {
    width: 48%;
    padding-top: 20px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

#right-testmonial {
    width: 48%;
    padding-top: 20px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    /*float: top right;  antes era     top right;  foram as unicas 2 coisa alterada hoje 05/09 */
}

.left-side {
    padding-top: 5px; 
    width: 50%; 
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    float: left;
}

.right-side{
   padding-top: 5px; /*10*/
    width: 50%;
    line-height: 30px;
    clear: both;
   margin-bottom: 20px;
    float:right;
}

/*----------------------------------  
               Contact Us 
---------------------------------- */

.contactus {
    font-size: 15px;
    font-family: DynaPuff, sans-serif;
    margin-top: 240px;
    color: black;
    max-width: 400px;  
    left: 30%;
    padding: 30px;
    position: absolute;
}
 
.input {
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    resize: none; 
    text-align: left; /*BEFORE WAS CENTER- bug do texto comecando no meio do form*/
}

#howcanwehelpyou {
    height: 100px;
}

.button {
    margin-top: 10px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: white; /* rgba(244, 166, 116, 0.62);*/
    color: black;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    margin-left: 150px;
    font-family: DynaPuff, sans-serif;;
}

.button:hover {
    color: coral;
}

#background-img {
    clear:both;
    background: url("../images/background.jpg");
    background-size: cover;
    background-position: top;
    height: 600px;  
}

#thankyou {
    font-family: DynaPuff, sans-serif;
    letter-spacing: 3px;
    font-size: 25px;
    margin-top: 300px;
    color: coral;
    max-width: 400px;  
    left: 30%;
    padding: 30px;
    position: absolute;   
}
/*----------------------------------  
          Tablet
---------------------------------- */
/*@media screen and (max-width: 1200px ) E DEPOIS VEIO MAX-WIDTH 800PX, 850  */
@media screen and (max-width: 871px ) { /*antes max 875 ultina versap 871*/

    #photo {
        width: 100%;
        height: 1000px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-size: cover;
        background-position: center;
        clear: both;
   
        animation-name: photo-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
       } 
   
       #photo-movement {
           height: 850px;
           width: 100%;
           overflow: hidden;
           position:relative;
       }
       
       @keyframes photo-zoom {
           from{
       transform: scale(1);
           }
           to{
       transform: scale(1.1)
           }
       }

    #testmonials {
        padding: 60px;
        margin-top: 10px;
        text-align: center;
        margin-left: 10px;
       } 

       h3 {
        text-align: center;
        margin-left: -50px;
       }

       p {
        width: 320%;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: center;
        padding: 0 5px 0 5px;
       }

       footer {
        position: relative;
       }

       .contactus {
        width: 60%; /* nao tinha*/
        margin-top: 310px;
        margin-left: -30px;
        max-width: 400px;
        left: 30%;
        padding: 20px;
        padding-right: 10px;
        position: absolute;
        align-items: center;
    }

    .button {
        margin-top: -10px;
        margin-left: 160px;
        padding: 10px 20px 10px 20px;
    }
    
    #background-img {
        height: 800px;
    }

    #thankyou {
        margin-top: 400px;
        max-width: 300px;  
        left: 20%;
        padding: 30px;
        position: absolute;   
    } 
} 
/*----------------------------------  
          Large Monitors
---------------------------------- */
@media screen and (min-width: 1290px ) { /* antes era 1393 */
    #photo {
     width: 100%;
     height: 1000px;
     margin-top: 50px;
     margin-bottom: 50px;
     background-size: cover;
     background-position: center;
     clear: both;

     animation-name: photo-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
     
    } 

    #photo-movement {
        height: 850px;
        width: 100%;
        overflow: hidden;
        position:relative;
    }
    
    @keyframes photo-zoom {
        from{
    transform: scale(1);
        }
        to{
    transform: scale(1.1)
        }
    }

    #homeParagraph {
        font-size: 20px;
        width: 97%;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
       margin-left: 20px;
        margin-right: 20px;
     }
 
    #testmonials {
     padding: 30px;
     margin-top: 0;
    }
 
    #left-testmonial {
        float: left;
        width: 45%;
        padding: 20px;
        float: left;
        padding-top: 5px;
        line-height: 30px;
        clear: both;
        margin-bottom: 70px;
        margin-top: 40px;
    }
    
    #right-testmonial {
     width: 45%;
     padding: 20px;
     /* float: top right;  antes era     top right;  foi unica coisa alterada hoje 05/09 */
     padding-top: 5px;
     line-height: 30px;
     margin-bottom: 70px;
     margin-top: 40px;
    }

    h3 {
        text-align: center;
        margin-left: -210px;
    }

    p {
        width: 200%;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    #background-img {
        clear:both;
        background: url("../images/background.jpg");
        background-size: cover;
        background-position: top;
        margin-top: 200px;
        height: 850px;
        width: 100%;
    }

    .contactus {
        font-size: 15px;
        margin-top: 340px;
        margin-left: 120px;
        color: black;
        max-width: 400px;
        position: absolute;
        left: 30%;
        padding: 30px;
    }

    #thankyou {
        font-family: DynaPuff, sans-serif;
        letter-spacing: 3px;
        font-size: 25px;
        margin-top: 450px;
        color: coral;
        max-width: 500px;  
        left: 30%;
        padding: 30px;
        position: absolute;   
    }

    footer {
       position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        line-height: 80px;
    }

    .social{
        text-align: center;
    }

    #text, #text h2 {
        color: white;
        font-size: 20px; 
      }
    
      #text {
        font-size: 200%;
        font-family: DynaPuff, sans-serif;
        letter-spacing: 6px;
        width: 300px;
        height: 200px;
        padding-top: 30px;
        padding-left: 10px;
        background-color: rgba(227, 148, 146, 0.6);
        bottom: 250px;
        left: 50px;
        position: absolute;
    }      
 }
 /*----------------------------------  
            Mobile 
---------------------------------- */
/*@media screen and (max-width: 943px) antes estava assim e a ultima foi 400px 396 412px{*/
@media screen and (max-width: 420px) {
    #photo { 
        height: 750px; 
        width: 100%;
    } 

    #text {
        width: 200px; 
        height: 250px; /*210px*/
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 10px; /*50PX*/
        background-color: rgba(227, 148, 146, 0.6);
        bottom: 50px; 
        left: 10px; /*50*/
        position: absolute;
    }

    #homeParagraph {
        font-size: 18px;
        background-color: white; /* rgba(244, 166, 116);*/
        color: coral;
        letter-spacing: 2px;
        width: 90%;
     }
    
     h1{
        padding-left: 25%;
        padding-top: 15px;
        padding-bottom: 10px;
     }
   
    #testmonials {
        padding: 25px; /*antes era 40*/
        margin-top: 0;
        text-align: center;
       } 

       h3 {
        text-align: center;
        margin-left: 20px;/*40px*/
       }

       p {
        width: 350%; /*320% */
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: center;
        padding: 0 5px 0 5px; 

       }
       #kita {
        float: none;   
    } 

    #lucio {
        float: none;   
    } 
    
    #dog-img{
        float: none;
    }
    #pomie {
        float: none;   
    }
       #left-testmonial {
        /*float: left;*/
        width: 45%;
        padding: 20px; 
        padding-top: 5px;
        line-height: 30px; 
        clear: both;
        margin-bottom: 10px; /*70px*/
        margin-top: 10px; /*40px*/
        margin-left: 1%; /*can't decide between px orm %*/
    }
    
    #right-testmonial {
     width: 45%;
     padding: 20px; 
     /*float: top right;*/
     padding-top: 5px;
     line-height: 30px;
     margin-bottom: 10px; /*70px*/
     margin-top: 10px; /*40px*/
     margin-left: 1px; /*can't decide between px or %*/
    }

.contactus {
    font-size: 12px; 
    width: 70%; /* nao tinha*/
   /*margin-top: 290px; */
   /* margin-left: -30px;*/
    color: black;
    position: absolute;
    max-width: 400px; /*400*/
    align-items: center;/* nao tinha*/
    left: 15%; /*30%*/
    padding: 20px;
   
}

.input {
    color: black;
    width: 100%;
    height: 20px;
    margin: 5px 0 10px 0;
    border: 1px solid black;
}

.button {
    margin-top: -10px;
    margin-left: 110px;
    padding: 5px 10px 5px 10px;
}

#background-img {
    height: 480px; 
    /*height: 480px;*/
}

#thankyou {
    margin-top: 350px;
    max-width: 250px;  
    left: 10%;
    padding: 30px;
    position: absolute;   
}

footer {
    position: relative;   
} 
} 
/*----------------------------------  
          large  Mobile
---------------------------------- 
@media screen and (min-width: 410px) {
    .contactus {
        font-size: 12px; 
        width: 70%; 
        margin-top: 270px ;
       
        max-width: 400px; /*400*
        align-items: center;/* nao tinha*
        left: 25%; /*30%*
        padding: 5px;
       
    }*/
  
  
   /* margin-left: -30px;
    color: black;
    position: absolute;
    max-width: 400px; /*400*
    align-items: center;/* nao tinha
    left: 15%; /*30%
    padding: 20px;
} */

 /*----------------------------------  
          large  tablet
---------------------------------- */
@media screen and (min-width: 871px) {
    
    footer {
        width: 100%;
        overflow: hidden;
        position:relative;
       }
    }

    /*----------------------------------  
          large  duno
---------------------------------- 

    @media screen and (min-width: 1154px){
        footer {
            position: absolute;
            
           }
    }

